# Ignore node_modules folder anywhere in the project
**/node_modules/

# Ignore package-lock.json and yarn.lock files anywhere in the project
package-lock.json
yarn.lock

# Ignore .env files anywhere in the project
.env

.DS_Store
